@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

.main-heading {
  color: #5d4037;
}

p {
  text-align: center;
}

.btn-primary {
  background-color: #4db6ac;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #00695c;
  outline: none;
  border: none;
}

.btn-warning:hover {
  background-color: black;
  color: whitesmoke;
  outline: none;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.trends {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 550px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Content Css */

.blog {
  display: flex;
  flex-direction: column;
}

.blog-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 990px) {
  .blog-container {
    flex-direction: column-reverse;
  }

  .blog-container_article {
    width: 48%;
  }

  .blog-container_article-image {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .blog-container_groupB {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-container_article {
    width: 100%;
  }

  .blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
